<settings
    xmlns="http://maven.apache.org/SETTINGS/1.0.0"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://maven.apache.org/SETTINGS/1.0.0 http://maven.apache.org/xsd/settings-1.0.0.xsd">
<profiles>
<profile>
<id>azdo</id>
<activation>
<activeByDefault>true</activeByDefault>
</activation>
<repositories>
<repository>
<id>PMS</id>
<url>https://pkgs.dev.azure.com/agilysys/Stay/_packaging/PMS/maven/v1</url>
<releases>
<enabled>true</enabled>
<updatePolicy>always</updatePolicy>
<checksumPolicy>warn</checksumPolicy>
</releases>
<snapshots>
<enabled>true</enabled>
<updatePolicy>always</updatePolicy>
<checksumPolicy>warn</checksumPolicy>
</snapshots>
</repository>
<repository>
<id>Platform</id>
<url>https://pkgs.dev.azure.com/agilysys/_packaging/Platform/maven/v1</url>
<releases>
<enabled>true</enabled>
</releases>
<snapshots>
<enabled>true</enabled>
</snapshots>
</repository>
<repository>
<id>Core</id>
<url>https://pkgs.dev.azure.com/agilysys/_packaging/Core/maven/v1</url>
<releases>
<enabled>true</enabled>
</releases>
<snapshots>
<enabled>true</enabled>
</snapshots>
</repository>
</repositories>
</profile>
<profile>
<id>artifactory</id>
<activation>
<activeByDefault>true</activeByDefault>
</activation>
<repositories>
<repository>
<id>StayProcess</id>
<url>https://pkgs.dev.azure.com/agilysys/Stay/_packaging/StayProcess/maven/v1</url>
<releases>
<enabled>true</enabled>
</releases>
<snapshots>
<enabled>true</enabled>
</snapshots>
</repository>
<repository>
<id>central</id>
<name>libs</name>
<url>http://artifactory.bellevue.agilysys.com/artifactory/repo</url>
<releases>
<enabled>true</enabled>
<updatePolicy>always</updatePolicy>
<checksumPolicy>warn</checksumPolicy>
</releases>
<snapshots>
<enabled>true</enabled>
<updatePolicy>always</updatePolicy>
<checksumPolicy>fail</checksumPolicy>
</snapshots>
</repository>
</repositories>
<pluginRepositories>
<pluginRepository>
<id>libs-release</id>
<url>http://artifactory.bellevue.agilysys.com/artifactory/libs-release</url>
<snapshots>
<enabled>false</enabled>
<updatePolicy>always</updatePolicy>
<checksumPolicy>fail</checksumPolicy>
</snapshots>
</pluginRepository>
</pluginRepositories>
</profile>
</profiles>
<servers>
<server>
<id>PMS</id>
<username>agilysys</username>
<password>azn2vhkvf734jvbtsmg6hjos4z2i7hhziy7mekzexevld3wi6d2a</password>
</server>
<server>
<id>Platform</id>
<username>agilysys</username>
<password>azn2vhkvf734jvbtsmg6hjos4z2i7hhziy7mekzexevld3wi6d2a</password>
</server>
<server>
<id>Core</id>
<username>agilysys</username>
<password>azn2vhkvf734jvbtsmg6hjos4z2i7hhziy7mekzexevld3wi6d2a</password>
</server>
<server>
<id>StayProcess</id>
<username>agilysys</username>
<password>azn2vhkvf734jvbtsmg6hjos4z2i7hhziy7mekzexevld3wi6d2a</password>
</server>
</servers>
</settings>
